@media (prefers-color-scheme: light) {
    th {
        /* color: black !important; */
        font-size: 1.2rem !important;
        font-weight: bold !important;
        /* background-color: rgba(49, 51, 63, 0.05) !important; */
    }

    td {
        /* color: black !important; */
        font-size: 1.2rem !important;
        font-weight: bold !important;
    }
}

@media (prefers-color-scheme: dark) {
    th {
        /* color: white !important; */
        font-size: 1.2rem !important;
        /* background-color: white !important; */
    }

    td {
        /* color: white !important; */
        font-size: 1.2rem !important;
    }
}

[data-testid=column] [data-testid=stVerticalBlock] {
    gap: 0.1rem;
}

.st-cb {
    cursor: text;
}

.streamlit-expanderHeader {
    margin-left: 2%
}

.streamlit-expanderHeader p {
    font-size: x-large !important;
    cursor: pointer;
}

.streamlit-expanderContent {
    margin-left: 3%;
    margin-right: 3%;
}

footer {
    visibility: hidden;
}

/* Increase main Font Sizes for readability */
h3 {
    font-size: 2rem !important;
}

h4 {
    font-size: 1.3rem !important;
}

p {
    font-size: 1.2rem !important;
}

li {
    font-size: 1.2rem !important;
}

input {
    font-size: 1.2rem !important;
}