name: Run Unit Tests via pytest  

on: [push]

jobs:  
  build:  
    runs-on: ubuntu-latest  
    strategy:  
      matrix:  
        python-version: ["3.12"]  
  
    steps:  
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4  
        with:  
          python-version: ${{ matrix.python-version }} 
      
      - name: Install dependencies  
        run: |  
          python -m pip install --upgrade pip  
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Test with pytest  
        run: |  
          coverage run -m pytest -v -s Tests --junitxml=Tests/results.xml --cov=.
          
      - name: Generate Coverage Report
        run: |
          coverage report -m
          coverage xml
          
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: Tests/results.xml

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
